
body{
    font-family: 'Poppins', sans-serif;
}
h2{
    font-weight: 700;
}
.container{
    padding: 0 3rem;
}
.text-green{
    color: #21B573;
}

.button{
    font-size: 1rem;
    width: 6.5rem;
    background-color: #21B573;
    padding: .8rem 2rem;
    border: none;
    border-radius: 2.1rem;
    text-align: center;
    color: white;
}
.green-bg{
    background-color: #F0FFF0;
}
.top-section{
    height: 34rem;
    background-color: #F0FFF0;
}


/* #################### School Items ##############3  */
.item{
    padding:20px 20px;
    border-radius: 5px;
    background-color: #F8FFFB;
}
.item h5{
    color: #413960;
    font-weight:500;
}
.item:hover{
    
    box-shadow: 10px 10px 40px #ddd;
    border-radius: 5px;
    background-color: white;
}

/* -----------------XXXX School Items XXXXX-------------- */




/*  ###################### Online Courses ################################### */


.courses h2{
    color: #413960;
    text-align: center;
    margin: 5rem 0 3rem 0;
}

.card {
    border: none;
    box-shadow: 5px 5px 30px #ddd;
    padding: 1rem 1rem 2rem 1rem;
    border-radius: 10px;
}
.card span img {
    width: 1rem;
    height: 1rem;
    color: gray;
    
}
.card span{
    font-size: .8rem;
}
.card-footer {
    background-color: white;
    border-top: none;
    padding-bottom: 0;
    padding-left: .5rem;
    padding-right: .5rem;
    display: flex;
    justify-content: space-between;
}

/* ---------------------- Online Courses -------------------- */




/* Testimonial */
.testimonil h2{
    color: #413960;
    text-align: center;
    margin: 5rem 0 3rem 0;
}


/* Testimonial */




/* Footer  */
.footer{
    background-color: #282531;
    color: white;
    margin: 0 ;
    padding: 3rem 2rem 1rem 2rem;
}
.footer h6{
    font-weight: 600;
}
.footer p{
    font-size: .8rem;

}
/* Footer  */


/* ################## Responsive ###################### */


@media screen and (max-width:970px) { 
    .top-section  .menu-icon {
        top: auto;
        right: 2rem;
        left: auto;
        position: absolute;
    }
    .navbar-nav {
        margin-top: -2rem;
        text-align: center;
    }
    .navbar-nav .button{
        margin: auto;
    }
    .card{
        padding: .5rem;
    }
    .card-footer span{
        font-size: 8px;
    }
}
@media screen and (max-width:768px) {
    .button{
        padding: 2rem;
    }
    .top-section{
        height: 56rem;
    }
    .header-descripton{
        text-align: center;
    }
    .school-items .item{
        margin-bottom: 1.3rem;
    }
    .card-margin-btm{
        margin-bottom: 2rem;
    }
    .card{
        padding: 1rem;
    }
    .card-footer span{
        font-size: 14px;
    }
    .testimonil img  {
        margin-bottom:  4rem;
    }
    .footer .cat {
        display: grid;
        margin: auto;
    }
}
@media screen and (max-width:370px){
    .container{
        padding: 2rem 1rem;
    }
    .top-section{
        height: 56rem;
    }
    .navbar-nav {
        margin-top: -2rem;
        text-align: center;
    }
}


/* ------------------- Responsive ----------------------- */